body{
    font-size: 1.2em;
    margin: 0;
    margin-top: 5%;
}

.row{
    width: 80%;
    margin: auto;
    background: #00ff00;
}
.col-sm-2, .hom, .home{
    width: 13%;
    text-align: center;
    background: linear-gradient(to bottom, #00ff00, #00cc00);
        border: 0.5px solid #134d00;
    border-radius: 5px;
    padding: 0px;
    margin-left: 0.0px;

}
.col-sm-2.emp , .row.emp{
    background: none;
    border: 0;
    
}
.hom, .home{
    border: 0px;
}
.item{
    width: 13%;
     background: linear-gradient(to bottom, #00ff00, #0000ff);
        border: 0.5px solid #134d00;
    border-radius: 5px;
        text-decoration: none;
    display: block;

    
}
.col-sm-2:hover{
    color: aliceblue;
    background: linear-gradient(to bottom, #33CC00 #269900);
}
.dropicon{
    display: none;
}
button{
    width: 50px;
}
/*
.rw80{
    width: 80%;
    margin: auto;
}
*/
.hom{
    display: none;
}
.home{
    display: block;
}



@media screen and (max-width:680px){
    .row{
        display: none;
        background: white;
    }
    .col-sm-2{
        background: linear-gradient(to bottom, #269900, #1a6600);
        border: 0.5px solid #134d00;
    }
    
    .show{
        display: table-column; 
        float: right;
    }
    
    
    .dropicon{
        display: block;
        float: left;
    }
    .row{
        width: 100%; 
    }
    .nav{   
        height: 30px;
        width: 100%;
    background-color: #33cc00;
    }
    .row.show{
        display: list-item;
    }
    .col-sm-2{
        width: 30%;
    text-align: left;
    margin: #2db300;
}
    
}